<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8" />
                <title>Top Page</title>
        </head>
        
        <body>
		<h1>NFT Price Predict</h1><br>
		<p>You should use model A if you want to predict the price in the future of the NFT future.</p>
		&rarr;<a href="taskA/index/">Use model A</a><br>
		<p>You should use model B if you want to predict the price of the new NFT.</p>
                &rarr;<a href="taskB/index/">Use model B</a>
        </body> 
</html> 

